In [1]:
### General ###

import numpy as np
import pandas as pd
import calendar

#### Visualization Tools ###

# Base of sns
import matplotlib.pyplot as plt

# Born on top of matplotlib, but more attractive
import seaborn as sns

# For interactive visualization, not good for too many datapoints
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go

In [2]:
df = pd.read_csv('./360011_202307_Viento.csv', delimiter=';')

df

,codigoNacional,idEquipo,idPista,momento,ddInst,ffInst,dd02Minutos,ff02Minutos,dd10Minutos,ff10Minutos,...,momentoRegistro,dd15m,ffMax15m,ffMed15m,dn02Min,dx02Min,dn10Min,dx10Min,dd02Mts,ff02Mts
0,360011,0,NaN,2023-07-01 00:00:00,196.0,2.1,195.0,1.1,191.0,2.0,...,2023-07-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360011,0,NaN,2023-07-01 00:01:00,186.0,2.1,193.0,1.1,193.0,2.1,...,2023-07-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,360011,0,NaN,2023-07-01 00:02:00,190.0,2.1,189.0,1.1,193.0,2.1,...,2023-07-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,360011,0,NaN,2023-07-01 00:03:00,186.0,1.9,186.0,1.0,193.0,2.1,...,2023-07-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,360011,0,NaN,2023-07-01 00:04:00,174.0,1.9,180.0,1.0,192.0,2.0,...,2023-07-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44604,360011,0,NaN,2023-07-31 23:56:00,28.0,4.7,34.0,2.3,44.0,3.2,...,2023-08-01 00:05:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44605,360011,0,NaN,2023-07-31 23:57:00,28.0,4.9,28.0,2.5,41.0,3.4,...,2023-08-01 00:05:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44606,360011,0,NaN,2023-07-31 23:58:00,34.0,5.2,28.0,2.5,39.0,3.6,...,2023-08-01 00:05:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44607,360011,0,NaN,2023-07-31 23:59:00,32.0,5.4,30.0,2.6,37.0,3.8,...,2023-08-01 00:05:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44608,360011,0,NaN,2023-08-01 00:00:00,38.0,5.2,31.0,2.7,35.0,4.0,...,2023-08-01 00:20:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
null_cols = df.columns[df.isnull().sum()>0].to_list()
print(null_cols)

df = df.drop(columns=null_cols)

df.info()

df

['idPista', 'dd01Minutos', 'ff01Minutos', 'dd01MinutosMin', 'ff01MinutosMin', 'dd01MinutosMax', 'ff01MinutosMax', 'dd15m', 'ffMax15m', 'ffMed15m', 'dn02Min', 'dx02Min', 'dn10Min', 'dx10Min', 'dd02Mts', 'ff02Mts']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44609 entries, 0 to 44608
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   codigoNacional   44609 non-null  int64
 1   idEquipo         44609 non-null  int64
 2   momento          44609 non-null  object
 3   ddInst           44609 non-null  float64
 4   ffInst           44609 non-null  float64
 5   dd02Minutos      44609 non-null  float64
 6   ff02Minutos      44609 non-null  float64
 7   dd10Minutos      44609 non-null  float64
 8   ff10Minutos      44609 non-null  float64
 9   dd02MinutosMin   44609 non-null  float64
 10  ff02MinutosMin   44609 non-null  float64
 11  dd02MinutosMax   44609 non-null  float64
 12  ff02MinutosMax   44609 non-null  float64
 13  dd10MinutosMin   44609 non-null  float64
 14  ff10MinutosMin   44609 non-null  float64
 15  dd10MinutosMax   44609 non-null  float64
 16  ff10MinutosMax   44609 non-null  float64
 17  momentoRegistro  44609 non-null  object
dtypes: float64(14), int64(2), object(2)
memory usage: 6.1+ MB

,codigoNacional,idEquipo,momento,ddInst,ffInst,dd02Minutos,ff02Minutos,dd10Minutos,ff10Minutos,dd02MinutosMin,ff02MinutosMin,dd02MinutosMax,ff02MinutosMax,dd10MinutosMin,ff10MinutosMin,dd10MinutosMax,ff10MinutosMax,momentoRegistro
0,360011,0,2023-07-01 00:00:00,196.0,2.1,195.0,1.1,191.0,2.0,191.0,1.9,197.0,2.1,167.0,1.6,204.0,2.5,2023-07-01 00:20:33
1,360011,0,2023-07-01 00:01:00,186.0,2.1,193.0,1.1,193.0,2.1,186.0,1.9,197.0,2.1,174.0,1.6,204.0,2.5,2023-07-01 00:20:33
2,360011,0,2023-07-01 00:02:00,190.0,2.1,189.0,1.1,193.0,2.1,183.0,1.9,196.0,2.1,183.0,1.6,204.0,2.5,2023-07-01 00:20:33
3,360011,0,2023-07-01 00:03:00,186.0,1.9,186.0,1.0,193.0,2.1,177.0,1.9,191.0,2.1,177.0,1.6,204.0,2.5,2023-07-01 00:20:33
4,360011,0,2023-07-01 00:04:00,174.0,1.9,180.0,1.0,192.0,2.0,169.0,1.6,191.0,2.3,169.0,1.6,204.0,2.3,2023-07-01 00:20:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44604,360011,0,2023-07-31 23:56:00,28.0,4.7,34.0,2.3,44.0,3.2,23.0,3.3,41.0,5.0,23.0,2.3,67.0,5.0,2023-08-01 00:05:37
44605,360011,0,2023-07-31 23:57:00,28.0,4.9,28.0,2.5,41.0,3.4,23.0,4.7,35.0,5.0,23.0,2.3,63.0,5.0,2023-08-01 00:05:37
44606,360011,0,2023-07-31 23:58:00,34.0,5.2,28.0,2.5,39.0,3.6,23.0,4.7,34.0,5.2,23.0,2.3,57.0,5.2,2023-08-01 00:05:37
44607,360011,0,2023-07-31 23:59:00,32.0,5.4,30.0,2.6,37.0,3.8,27.0,4.7,34.0,5.4,23.0,2.3,52.0,5.4,2023-08-01 00:05:37
44608,360011,0,2023-08-01 00:00:00,38.0,5.2,31.0,2.7,35.0,4.0,28.0,5.0,38.0,5.4,23.0,2.3,51.0,5.4,2023-08-01 00:20:33

In [4]:
df['momento'] = pd.to_datetime(df['momento'])
df['momentoRegistro'] = pd.to_datetime(df['momentoRegistro'])

In [5]:
df.describe()

,codigoNacional,idEquipo,ddInst,ffInst,dd02Minutos,ff02Minutos,dd10Minutos,ff10Minutos,dd02MinutosMin,ff02MinutosMin,dd02MinutosMax,ff02MinutosMax,dd10MinutosMin,ff10MinutosMin,dd10MinutosMax,ff10MinutosMax
count,44609.0,44609.0,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000,44609.000000
mean,360011.0,0.0,143.368513,5.558293,143.307360,2.859732,144.162299,5.560053,156.422179,4.387579,145.467843,6.812973,164.613486,3.690302,147.794122,7.674283
std,0.0,0.0,106.321547,4.001946,105.629879,2.019490,105.141883,3.872567,109.940899,3.004514,102.280863,5.019905,112.195094,2.704458,101.296882,5.446534
min,360011.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,360011.0,0.0,39.000000,2.900000,38.000000,1.500000,39.000000,3.000000,49.000000,2.300000,46.000000,3.500000,56.000000,1.900000,50.000000,4.100000
50%,360011.0,0.0,135.000000,4.700000,136.000000,2.400000,140.000000,4.600000,176.000000,3.700000,124.000000,5.400000,181.000000,3.300000,123.000000,6.000000
75%,360011.0,0.0,225.000000,6.800000,225.000000,3.500000,224.000000,6.800000,224.000000,5.400000,233.000000,8.400000,231.000000,4.900000,239.000000,9.100000
max,360011.0,0.0,360.000000,31.500000,360.000000,13.200000,360.000000,22.500000,360.000000,21.600000,360.000000,31.500000,360.000000,16.300000,360.000000,31.500000

- ddInst: 0-360 direction of the wind.
- ffinst: 0-31.5 intensity of the wind in knots.
- momento: 
- *02Minutos, *10minutos: mean in a window of time. Max and Min.